
<div class="post_title">
    <h1> The Wishlists Team</h1>
</div>
<div class="post_body">
    <p>
    <table>
            <tr>
                <th class="shower">
                    Creator:
                </th>
                <td class="shower">
                    Bryan Pettigrew, 2008 <br/>
                    <%= mail_to "pett14@aol.com" %>
                </td>
            </tr>
            <tr>
                <th class="shower">
                    Administrator:
                </th>
                <td class="shower"> 
                    Karen Pettigrew  <br/>
                    <%= mail_to "berge48@aol.com" %>
                </td>
            </tr>
        </table>
    </p>
</div>