
<div class="post_title">
    <h1> The Wishlists Team</h1>
</div>
<div class="post_body">
    <p>
    <table>
            <tr><td><b>Creator:</b></td><td> Bryan Pettigrew, 2008 <br/></td></tr>
            <tr><td></td><td><a href="mailto:pett14@aol.com">pett14@aol.com</a></td></tr>
            <tr></tr><tr></tr><tr></tr>
            <tr><td><b>Administrator:</b></td><td> Karen Pettigrew <br/></td></tr>
            <tr><td></td><td><a href="mailto:berge48@aol.com">berge48@aol.com</a></td></tr>
        </table>
    </p>
</div>