<div class="post_title">
    <h1>Website Administration</h1>
</div>

<div class="post_body">

    <p>
        <%= link_to "User Account Administration", :controller => 'users', :action => 'index' %>
    </p>
    
    <p>
        <%= link_to "Create News & Notes", :controller => 'notes', :action => 'new' %>
    </p>
        
    
</div>
