<div class="post_title">
    <h1>Welcome to <b>Wishlists</b>!</h1>
</div>
				
<div class="post_body">
						
    <p>Welcome to <b>Wishlists 3.0</b>, the easiest way to share your gift wishes with your friends and family! </p>

    <p><b>Wishlists</b> lets you post your wishes for others in your group to see. In addition, 
    you can view the wishes of all other group memebers, as well as the purchase status of each of their wishes.
    Use the tabs at the top of the page for navigation, and read the <b>Getting Started</b> below for a quick introduction.</p>


    <h2>Getting Started</h2>
    <br/>
        <h3>Viewing Other's Wishes</h3>

            <p>Use the <i>All Wishes</i> tab at the top to go to the....</p>



    <br/>
        <h3>Creating Your Wishes</h3>

            <p>Use the <i>My Wishes</i> tab at the top to go to the....</p>
						
						<ul>
							<li>Consectetuer</li>
							<li>Adipiscing</li>
							<li>Suspendisse</li>
						</ul>

						<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Suspendisse suscipit arcu vitae nunc. Etiam a nunc. Vivamus varius.</p>

						<ol>
							<li>Consectetuer</li>
							<li>Adipiscing</li>
							<li>Suspendisse</li>
						</ol>

						<h2>Image test</h2>

						
						<p><img src="img/sample-thumb.jpg" alt="Sample thumbnail" height="90" width="90" /></p>
						
						<p>Vivamus varius nunc nisl massa <a href="#">gravida in tempor</a> id, aliquet in, sapien. Aliquam vel magna. Vestibulum vitae tortor sed diam dictum elementum. Duis at lectus. Suspendisse quis libero sed orci porttitor imperdiet.</p>

						<h2>Blockquote</h2>

						<p>Felis tempus vestibulum proin in ipsum.</p>

						<blockquote><p>Donec condimentum semper ligula. Phasellus massa nisi, lobortis eget, hendrerit ac, placerat id, pede. In viverra. Vestibulum lacinia justo et magna. Sed eget leo. Donec sit amet erat vel leo pharetra vestibulum. Nullam at magna non</p></blockquote>

						<p>Donec ornare vehicula ipsum. Cras eu velit. Aenean facilisis turpis nec eros. Donec sed nunc id dolor auctor volutpat. Morbi blandit quam eu massa.</p>

					</div>

				



