<div class="post_title">
    <h1>Welcome to <b>Wishlists</b>, <%= current_user.first_name %>!</h1>
</div>
				
<div class="post_body">
						
    <h1>Welcome to <font color="#759EBC"><b>Wishlists 3.0</b></font>,</h1><h3> the easiest way to share your gift wishes with your friends and family! </h3><br/>

    <p><b>Wishlists</b> lets you post your wishes that are visible to other users in your friends
    and family "group(s)". <br/>
    Here's how it works:
        <ul>
		  <li> Each user is a member of one or more groups and within each group is a number of users.</li>
          <li> A user can create as many wishes as they want, and assign them to be viewed by the members of one or more of the groups that they belong to.</li>
          <li> Any other user will only be able to see those wishes that are assigned to the groups they are a member of.</li>
          <li> All wishes also have a "purchase" status. This is set once a user has purchased a gift for someone in their group, so that those 
        viewing that wish later will know it's already been purchased. You can only view the purchased status of other user's 
        gifts (it's no fun if you know what you're getting!)</li>
        </ul>
    Use the tabs at the top of the page for navigation, and read the <b>Getting Started</b> below for a quick introduction.</p>
    <br/><br/>
<hr/><br/>
    <h1><font color="#759EBC"><b>Getting Started</b></font></h1>
    <br/>
        <h2>Viewing Other's Wishes</h2>

            <p>Use the <i>All Wishes</i> tab at the top to go to a list of all other users that are members of the same groups as yourself. 
            Click on any of the names to see a list of their wishes. From here you can mark a wish as purchased by yourself by clicking 
            the <i>purchase</i> link, or see a more detailed description by clicking <i>show</i>.</p>



    <br/>
        <h2>Creating Your Wishes</h2>

            <p>Use the <i>My Wishes</i> tab at the top to go to a list of your own wishes. From here you can create a new wish, or view or edit 
            an exsiting one. 
            <br/>
            <br/>
            <b>To create a new wish</b>, click on the <i>Add New Wish</i> link at the bottom of your wish list. On the following screen
            enter your wish text box, and highlight your groups which you want this wish to be visible to (hold down the Ctrl button to select more than one).
            <br/>
            <br/>
            <b>To edit an existing wish</b>, click on the <i>show</i> link at the left of a wish in the wish list. This will bring
            you to a detailed view of your wish. Click on the <i>edit</i> link at the bottom of the wish to be able to make changes
            to either the wish itself or the groups to which this wish is assigned.
            </p>


					</div>

				



